<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SessionManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <applicationSettings>
    <SessionManager.Properties.Settings>
      <setting name="AppDataFolder" serializeAs="String">
        <value>C:\Users\Will\AppData\Local\Apps\2.0\O0VVP9N3.2VV\PZY921LQ.5Q2\swch..tion_0000000000000000_0001.0006_e7f2ca33d94ec618\Data\</value>
      </setting>
      <setting name="DataFolder" serializeAs="String">
        <value>C:\Users\Will\AppData\Roaming\SWCharGen\</value>
      </setting>
    </SessionManager.Properties.Settings>
  </applicationSettings>
</configuration>